<app-nav></app-nav>
<div class="bg">

</div>

<div class="content">
<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Data Obscure</label>
    <input id="tab2-1" name="tabs-two" class="link" type="radio" checked="checked">
    <div>
      <h2>Data Obscure: Data Masking Solution</h2>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="objects"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div class="">
            <span >Designed and developed a web application for masking approximately 10 million records of client’s sensitive data</span>
          </div>
        </div>

      </div>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="airplane"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div class="">
            <span >Increased tool performance by 30% by modifying industry standard data masking algorithms</span>
          </div>
        </div>

      </div>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="data-cluster"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div class="">
            <span>Added native support for MSSQL and PostGreSQL databases to the application</span>
          </div>
        </div>

      </div>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="organization"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div>
            <span class="line-height-25">Worked in a team of 4 to migrate the application from message passing protocol to REST APIs and provided application as a REST service to improve customer experience and potentially gaining 20% additional revenue</span>
          </div>
        </div>

      </div>
      <!-- <ul>
      <li>Designed and developed a web application for masking approximately 10 million records of client’s sensitive data</li>
      <li>Increased tool performance by 30% by modifying industry standard data masking algorithms.</li>
      <li>Added native support for MSSQL and PostGreSQL databases to the application.</li>
      <li>Worked in a team of 4 to migrate the application from message passing protocol to REST APIs and provided
application as a REST service to improve customer experience and potentially gaining 20% additional revenue.
</li>
</ul> -->
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">License Generation Tool</label>
    <input id="tab2-2" name="tabs-two" class="link" type="radio">
    <div>
      <h2>License Generation Tool</h2>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="objects"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div class="">
            <span >Developed a scalable full-stack Spring Boot application to generate licenses for Cognizant’s proprietary product</span>
          </div>
        </div>

      </div>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="envelope"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div class="">
            <span >Integrated SMTP with the application to give customer ability to request new license or renew existing one</span>
          </div>
        </div>

      </div>
      <div class="row margin-20">
        <div class="col-sm-2 text-center ">
          <clr-icon shape="lock"></clr-icon>
        </div>
        <div class="col-sm-10">
          <div class="">
            <span>Prevented license infringement by using industry standard methodologies to generate the license and using AES 256 encryption to protect it potentially saving thousands of dollars for the organization.</span>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
