.margin-20
{
  margin:20px;
}

.no-padding
{
  padding:0px !important;
}

h2
{
  letter-spacing: .12em;
  font: Arial;
}

clr-icon
{
  display: inline-block;
  margin: 10;
  margin-top:20px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  fill: currentColor;
}

.line-height-25
{
  /* line-height: 25pt; */
}

div.col-sm-10
{
  display: table-cell;
  padding: 25px;
  /* color:black; */
  letter-spacing: .12em;
  font: 18px Arial;
  vertical-align: middle;
}

.line-height-3
{
  line-height: 3.5 !important;
}

.margin-top-10
{
  margin-top:10px;
}

.bg{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: 800px;
  background: url("../../../assets/images/pinkdesk1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 80%;
  -webkit-filter: blur(2px) grayscale(100%);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px) grayscale(100%);

  -webkit-animation-name: example-bg11;
  -webkit-animation-duration: 1.5s;
  animation-name:  example-bg11;
  animation-duration: 1.5s;
}

@-webkit-keyframes example-bg11 {
  0%  { right:0%; left:0%; top:-50%;}
  100% { right:0%; left:0%; top:6%;}
}

label
{
  font-size: 25px;
}
.content
{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin:5%;
  -webkit-animation-name: example-bg11;
  -webkit-animation-duration: 1.5s;
  animation-name:  example-bg11;
  animation-duration: 1.5s;
}

body {
  background: #191828;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; }
h1 {
  font-size: 40px;
  line-height: 0.8em;.
  color: rgba(255,255,255,0.2);}
a {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

li
{
  margin:20px;
}

.text-center
{
  text-align:center;
}


.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .12em;
    font: 11px Arial;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1em;
    padding: 1rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #000; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #000; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }
/*
  .tabs .tab-4 {
    width: 25%; }
    .tabs .tab-4 [type="radio"] + div {
      width: 400%;
      margin-left: 400%; }
    .tabs .tab-4 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-4:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-4:last-child [type="radio"]:checked + div {
      margin-left: -100%; } */

.active {color:red !important}
