<app-nav></app-nav>
<div class="bg">
<div class="content">
  <div class="circular--landscape row">
    <div class="col offset-sm-4">
      <img class="circular--square " alt="Angular Logo" src="../assets/images/ProfileEdit2.png">
    </div>  
  </div>

  <div class="row align-items-center no-margin">
    <div class=" col-sm-12 ">
      <h1 class="center-msg name">Akshay Jaiswal</h1>
      <h4 class="center-msg"><em>A software engineer turning data enthusiast</em></h4>
    </div>
  </div> 

  <div class="row align-items-center">
    <blockquote class= "col-sm-4">
    <div class="  question-msg">  
      <p class="question-msg">What do I do?</p>
      <p class="answer-msg">I create Web applications and tell stories with data...</p>
    </div>
    </blockquote>

    <blockquote class= "col-sm-4">
    <div class=" question-msg">  
      <p class="question-msg">How do I do it?</p>
      <p class="answer-msg">With lots of passion and love for coding...</p>
    </div>
    </blockquote>

    <blockquote class= "col-sm-4">
    <div class=" question-msg">  
      <p class="question-msg">What do I use?</p>
      <p class="answer-msg">HTML, CSS, Javascript, Angular4, Python, Java, the regular stuff...</p>
    </div>
    </blockquote>

    <blockquote class= "col-sm-4">
    <div class=" question-msg">  
      <p class="question-msg">What do I want to achieve?</p>
      <p class="answer-msg">I want to understand how the world functions and I think data can help me with that... </p>
    </div>
    </blockquote>
    
  </div>
  

</div>
</div>


