.bg{
  position: fixed;position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: 800px;
  background: black;
  /* background: url("../../../assets/images/desk1.jpg") no-repeat center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
  /* -webkit-filter: grayscale(100%); */
 
  /* -moz-filter: blur(3px); */
  /* -o-filter: blur(3px); */
  /* -ms-filter: blur(3px); */
 
  /* filter: grayscale(100%); */
  -webkit-animation-name: example-bg11;
  -webkit-animation-duration: 1.5s;
  animation-name:  example-bg11;
  animation-duration: 1.5s;
}

@-webkit-keyframes example-bg11 {
  0%  { right:0%; left:0%; top:-50%;}
  100% { right:0%; left:0%; top:6%;}
}

.center-msg
{
  font-family: Arial;
  color:white !important;
  text-align: center;
  margin-right: 20px;
}

.name
{
  text-transform: uppercase;
  letter-spacing: .12em;
}

h1,h2,h3,h4 {
  color:white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 60px;
}

.question-msg
{
  /* text-align: center; */
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
  color:white;
}
.answer-msg
{
  /* text-align: center; */
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  color:white;
}
.container
{
  /* padding-left:200px; */
}
blockquote
{
  background-color: transparent;
    border-left: 5px solid #373541;
    color: #8268fc;
    max-width: 85%;
    margin: 50px auto;
    font-size: 1.5rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 150px;
    margin-inline-end: 40px;
}

.profile-pic
{
  position: fixed;
  top:55%;
  right:38%;
  height:400px;
  width:360px;
}

.circular--square {
  margin-left: 50px;
}

.circular--landscape img {
  height:300px;
  width:270px;
  overflow: hidden;
  border-radius: 60%;
  margin-left: 130px;
  /* box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  */
}