<app-nav></app-nav>

<div class="bg1">
</div>
<div class= "content">
  <div class="row ">
    <div class="col-sm-3 skill-area">
      <span class="skill-area-name">Programming</span>
    </div>
    <div class="col-sm-1 padding-top-25">
      <div class="line"></div>
    </div>

    <div class="col-sm-8 skill-name">
      <table>
        <tr>
          <td class="skill-item">
            Java
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-9">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item ">
            Python
          </td>
          <td class="skill-item ">
            <div class="rating-bar">
            <div class="rate-7">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item">
            C++
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-3">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row margin-top-25">
    <div class="col-sm-3 skill-area">
      <span class="skill-area-name">Web Development</span>
    </div>
    <div class="col-sm-1 padding-top-25">
      <div class="line"></div>
    </div>

    <div class="col-sm-8 skill-name">
      <table>
        <tr>
          <td class="skill-item">
            HTML, CSS
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-9">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item ">
            Bootstrap
          </td>
          <td class="skill-item ">
            <div class="rating-bar">
            <div class="rate-8">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item">
            Typescript
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-7">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item">
            Angular (Js, 2-6)
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-8">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item">
            Spring Boot
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-8">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="row margin-top-25">
    <div class="col-sm-3 skill-area">
      <span class="skill-area-name">Databases</span>
    </div>
    <div class="col-sm-1 padding-top-25">
      <div class="line"></div>
    </div>

    <div class="col-sm-8 skill-name">
      <table>
        <tr>
          <td class="skill-item">
            MySQL
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-9">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item ">
            MSSQL
          </td>
          <td class="skill-item ">
            <div class="rating-bar">
            <div class="rate-7">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="skill-item">
            PostgreSQL
          </td>
          <td class="skill-item">
            <div class="rating-bar">
            <div class="rate-5">
              <span class="animate black"></span>
            </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
